TS 32001/32002 used SHAKE256 algorithm identifier

**Describe the bug**

ISO 32001 and ISO 32002 define a requirement for the used SHAKE256 algorithm identifier which looks contradictory to the specification defined in RFC 8419.

In particular, ISO 32001 defines that a digest algorithm with OID **id-shake256** shall be used:

> **5.1.4  Changes to ISO 32000-2:2020, Table 260 — SubFilter value algorithm support**
> ...
> SHAKE256 (PDF 2.x). **When SHAKE256 is specified**, the **message digest algorithm identified by the 
id-shake256 object identifier** (OID) in section 2.3 of RFC 8419 shall be used.

and similarly in ISO 32002:

> **Table 2 — Additional permitted SubFilter values for ISO 32000-2:2020, Table 260**
> When using the Ed25519 EdDSA elliptic curve algorithm, the message digest shall be computed using the SHA512 
message digest algorithm with OID id-sha512 as defined in IETF RFC 8419:2018, 2.3. When using the **Ed448 EdDSA** 
elliptic curve algorithm, the **message digest shall be** computed using the SHAKE256 message digest algorithm **with OID id-shake256** as defined in IETF RFC 8419:2018, 2.3.

and:

> **Table 4 — Supported EdDSA elliptic curves**
> **Ed448 SHAKE256** Message digests shall be calculated using the fixed length **id-shake256 message 
digest algorithm** in accordance with ISO/TS 32001.

While [RFC 8419](https://datatracker.ietf.org/doc/html/rfc8419#section-3.1) specifies that a digest algorithm with identifier **id-shake256-len** shall be used when signing a **CMS with signed-attributes** (which is mandatory for CAdES signatures):

> **3.1. Signed-data Conventions with Signed Attributes**
> The SignerInfo digestAlgorithm field includes the identifier of the message digest algorithms used by the signer.  When signing with Ed25519, the digestAlgorithm MUST be id-sha512, and the algorithm parameters field MUST be absent.  **When signing with Ed448**, **the digestAlgorithm MUST be id-shake256-len**, the algorithm parameters field MUST be present, and the parameter MUST contain 512, encoded as a positive integer value.

Which limits the appliance of ISO 32002 in particular to only CMS signatures without signed attributes (non CAdES conformant).

Is it an intentional limitation of the standard or my interpretation of the standard is not entirely correct? And how should one proceed when creating a CAdES conformant signature with Ed448 + id-shake256-len algorithm?

**Additional context**

The question was originally raised at [EU eSig DSS JIRA](https://ec.europa.eu/digital-building-blocks/tracker/browse/DSS-2935).


Well, this is embarrassing... This one is probably on me 😓.


I remember raising the issue of which OID to use as a point of discussion at a fairly late stage of the process for both of these standards, and I remember going to look it up in that very same RFC, but I must've missed the fact that the requirement for CMS _with_ signed attrs is opposite from the one without. (I would be very interested to know the rationale behind that distinction in CMS, though... it feels a bit arbitrary)

That said, I don't think we have much of a choice: we need to follow the CMS spec. I suggest changing the requirement (perhaps with a note) to use id-shake256-len with the length set to 512 bits if/when we roll this TS into "core" 32k.

Note that this changes nothing from the cryptographic PoV, it's purely a difference in the way the algorithm choice is presented to the consuming processor.


@MatthiasValvekens , thank you for the quick reply.

So it looks more like an issue in the standard. Maybe a new version of the TS is possible with the fix in the requirement, in case an update of ISO 32000 is not planned in the near time? Would be nice to have it written formally somewhere for better interoperability.

The PDF Association's [Digital Signature TWG](https://pdfa.org/community/digital-signature-twg/) will take the lead on getting an agreed resolution ASAP. The PDF Association can then immediately publish that industry-recommended guidance to all via https://pdf-issues.pdfa.org/ and via our sponsored standards. 

The ISO committees just met last week so timing is poor for formally initiating dated revisions or amendments. ISO committees next meet in Nov 2024, but it will still take many months to work through ISO processes.

The DigSig TWG agrees that this needs to be aligned. So far, consensus indicates that the technical impact of this change will be fairly small, so a PDFa erratum to each of the affected TSes is fine. What happens after that is up to WG8 (several options: revise the TSes when they're up for review next year, wait until the next 32k dated revision, etc.).

The TWG also proposed gathering some sample files to demonstrate the difference and help in assessing the technical impact. I'll get some as soon as I'm able to.

So, looking into this again while killing some time at the airport, I decided to cross-check with the RFC that governs usage of SHAKE digests in CMS in general: RFC 8702. This one seems to contradict RFC 8419, requiring the parameterless version everywhere, unconditionally: https://www.rfc-editor.org/rfc/rfc8702.html#name-message-digests. In retrospect, that's probably where I got the idea originally. Anything obvious I'm missing?

Either way, I still believe that we should probably align to RFC 8419 as discussed above, under the principle that more specific rules should trump generalities. Curious what others think about this.

@MatthiasValvekens - can you please strawman an edit as a proposed solution?

Ah, indeed, now that I reread it it's not worded as restrictively as I first thought. Good catch. Either way I agree that referring to RFC 8419 is the way to go.

Here are the example files:

- [ed448-shake256-len.pdf](https://github.com/user-attachments/files/16264233/ed448-shake256-len.pdf) (version with `id-shake256-len` and parameters, i.e. the version that agrees with RFC 8419)
- [ed448-shake256-nolen.pdf](https://github.com/user-attachments/files/16264243/ed448-shake256-nolen.pdf) (version with `id-shake256` without parameters, i.e. the version that agrees with the mistaken wording in the PDF extension specs)



## Proposed delta for ISO/TS 32001 in 5.1.4

Current text:

> SHAKE256 (PDF 2.x). When SHAKE256 is specified, the message digest algorithm identified by the id-shake256 object identifier (OID) in section 2.3 of RFC 8419 shall be used.

Proposed replacement:

> SHAKE256 (PDF 2.x). Where SHAKE256 is used, the applicable stipulations on algorithm identifiers in RFC 8702, 3.1 and RFC 8419, 3.1 shall be followed.

- This implies adding RFC 8702 to the normative references.
- We also need to drop the note at the end of 5.1.4, since it is no longer true with the new text.

## Proposed delta for ISO/TS 32002 in 5.1.2

Drop both instances of "[...] with OID XYZ as defined in RFC 8419 [...]"  from the footnote in Table 2.

## Proposed delta for ISO/TS 32002 in 5.1.3

Replace the content of the "Restrictions" column in Table 4, 2nd row with "The applicable stipulations of RFC 8419, 3.1 on algorithm identifiers for SHAKE256 shall be followed."


Thoughts?

> ## Proposed delta for ISO/TS 32002 in 5.1.3
> Replace the content of the "Restrictions" column in Table 4, 2nd row with "The applicable stipulations of RFC 8419, 3.1 on algorithm identifiers for SHAKE256 shall be followed."

Shouldn't it be "3.1 **and 3.2**"? Outside of the PAdES oriented contexts I still see a relevant amount of CMS signature containers with SignerInfos without signed attributes...


Good point, edited.

PDF DigSig TWG agree with the proposed change.

The decision as to _how_ to apply the change is WG 8's, but we're assuming that this will eventually make it into ISO 32k in some shape or form.